NEXT_PUBLIC_SUPABASE_URL= next public url
NEXT_PUBLIC_SUPABASE_ANON_KEY= next public anon
DATABASE_URL=postgresql://postgres.vtlreexibyyknczezago:0559910660S@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
GOOGLE_AI_API_KEY=YOUR_GOOGLE_AI_API_KEY_HERE
CRON_SECRET=io3Kp7w9QFZt4mB6nR8xVD2yTgHs1uCqEJf5LbNhW0ZaUyP
